.footer {
    background-color: #f8f9fa; /* Cambia esto al color deseado */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px; /* Altura del footer */
  }
  /*
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  

  .footer .container .row {
    margin-top: auto;
  } */