app-header {
  position: relative;
  z-index: 100;
}

app-footer {
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 10vh;
  
}

.config-card {
  top: 15%;
  
}

.selectInput {
  margin-top: 15px;
}

.titleTable {
  display: block;
}

.selectTable {
  margin-top: 15px;
  display: block;
}

input {
  margin-bottom: 10px;
}

label {
  margin-bottom: 10px;
}

.btn {
  margin-top: 20px;
  background-color: #3e9cb9;
  border: none;
}

.btn:active {
  background-color: #26667e;
}

.btn:hover {
  background-color: #2e7e9b;
}

.table-reader {
  position: relative;
  display: block;
  top: 50%;
  margin-top: 10px;
  margin-bottom: 0;
}

.filter-reader {
  width: 100%;
}

.btn-card {
  margin-right: 15px;
}
