<app-header></app-header>

<body>
    <form>
        <div *ngIf="this.dataReceived">

            <button type="button" (click)="this.analyze()" class="btn btn-primary btn-analyzer">Analyze</button>
            <button type="button" (click)="this.exportToCsvLocal()" class="btn btn-primary btn-export">Export</button>
            <button type="button" (click)="this.saveProject()" class="btn btn-primary btn-save">Save</button>

            <table class="table table-striped">
                <caption>{{ this.project.structuredData.name }}</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col" *ngFor="let header of this.project.structuredData.rows[0].valuesRow">{{ header
                            }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of this.project.structuredData.rows.slice(1)">
                        <td (click)="getLabel()" *ngFor="let value of row.valuesRow ; let i = index " > {{row.valuesRow[i]}} {{row?.labeledRow?  row?.labeledRow[i]? ' | ' + row?.labeledRow[i] : '' : ''}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="spinner-border text-info loadScreen" role="status"  *ngIf="!dataReceived">           
        </div>
    </form>
</body>
<app-footer *ngIf="dataReceived"></app-footer>