.table {
  margin-bottom: 15vh;
  margin-left: 2vw;
  overflow-x: auto;
  border-color: transparent;
}

.table > :not(caption) > * > * {
  position: relative;
  top: 10vh;
  left: 0;
  width: 10%;
  height: 10%;
  margin-bottom: 15vh;
  overflow-x: auto;
  white-space: nowrap;
}

.table .thead-light th {
  color: #fff;
  background-color: #3e9cb9;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.table .thead-light th:first-child {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0;
}

.table .thead-light th:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0.3rem;
}

td {
  text-align: center;
  width: 100%;
}

td:hover {
  cursor: pointer;
  background-color: #f8f9fa;
  padding: 0;
}

.btn-analyzer {
  position: relative;
  top: 9vh;
  left: 5vh;
  background-color: #3e9cb9;
}

.btn-export {
  position: relative;
  top: 9vh;
  left: 8vh;
  background-color: #3e9cb9;
}

.btn-save {
  position: relative;
  top: 9vh;
  left: 11vh;
  background-color: #3e9cb9;
}

.btn {
  background-color: #3e9cb9;
  border: none;
}

.btn:active {
  background-color: #26667e;
}

.btn:hover {
  background-color: #2e7e9b;
}

.loadScreen {

  position: relative;
  top: 50vh;
  left: 50vw;
}
