<body>
    <app-header class="header"></app-header>
    <form>
        <div *ngIf="this.dataReceived" class="content-wrapper">
            <div class="button-container">
                <button *ngIf="this.havePermission()" type="button" (click)="this.analyze()"
                    class="btn btn-primary btn-analyzer">Analyze</button>
                <button type="button" (click)="this.exportToCsvLocal()" class="btn btn-primary btn-export">Export</button>
                <button *ngIf="this.havePermission()" type="button" (click)="this.saveProject()"
                    class="btn btn-primary btn-save">Save</button>
                <button *ngIf="this.ownerPermission()" type="button" (click)="this.openDialogWithTemplate(deleteDialog)"
                    class="btn btn-primary btn-delete">Delete</button>
            </div>

            <div class="table-container">
                <app-tree-table-basic-demo [files]="this.files" [cols]="this.cols" (nodeSelected)="handleNodeSelection($event)"></app-tree-table-basic-demo>
            </div>
        </div>
    </form>

    <div class="spinner-border loadScreen" *ngIf="!dataReceived">
    </div>

    <app-footer *ngIf="dataReceived"></app-footer>

    <!--PANEL #overlayPanel -->
    <p-panel #panel *ngIf="this.selectValue" [toggleable]="true" [collapsed]="isCollapsed" [style]="{'width': '100%', 'position': 'fixed', 'bottom': '0', 'left': '0'}">
        <ng-template pTemplate="header">
            Selected Label for : {{ this.selectValue.value }}
        </ng-template>
        <div>

            <mat-form-field>
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Value" value="Female">
            </mat-form-field>

            <mat-list class="horizontal-list">
                <mat-list-item *ngFor="let label of this.labels">
                    <h4 mat-line>{{ label}}</h4>
                </mat-list-item>
            </mat-list>
            <mat-paginator class="paginator-footer" [length]="200" [pageSizeOptions]="[10, 50, 100]"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </p-panel>

    <!--DIALOG DELETE-->
    <ng-template #deleteDialog>
        <h1 mat-dialog-title>Delete Project</h1>
        <div mat-dialog-content>
            <p>Are you sure you want to delete this project?</p>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="this.closeDialog()">No</button>
            <button mat-button (click)="this.closeDialog(); this.deleteProject()">Yes</button>
        </div>
    </ng-template>
</body>