header, app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  margin-top: 60px; /* Adjust this value based on the height of your header to prevent overlap */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; /* Aseguramos que los botones se muestren correctamente */
  z-index: 1; /* Aseguramos que los botones se muestren correctamente */
}

.table-container {
  
  min-height: 75vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px; /* Increased margin-top to ensure buttons are visible */
}

.table {
  margin-bottom: 15vh;
  overflow-x: auto;
  border-color: transparent;
  white-space: nowrap;
}

.table th, .table td {
  text-align: center;
}

.thead-light th {
  color: #fff;
  background-color: #3e9cb9;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5);
}

.thead-light th:first-child {
  border-top-left-radius: 0.3rem;
}

.thead-light th:last-child {
  border-top-right-radius: 0.3rem;
}

td:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.btn {
  background-color: #3e9cb9;
  border: none;
  margin-right: 10px;
}

.btn:active, .btn:hover {
  background-color: #2e7e9b;
}

.loadScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  
}

app-footer {
  
  bottom: 0;
  width: 100%;
  text-align: center;
}