<header class="header" [style.position]="position" >
  <div>
    <!-- <nav class="d-md-none navbar navbar-expand-lg navbar-light bg-light">
      <div class="container flex-items-center">
        <button *ngIf="!isLogged()" type="button" routerLink="/login" class="btn btn-primary">Login</button>
        <a *ngIf="isLogged()" routerLink="/profile" class="nav-link">
          <i class="bi bi-person-circle"></i>
        </a>
      </div>
    </nav> -->


    <nav [style.position]="position" class="d-none d-md-block navbar navbar-expand-lg navbar-light bg-light">
      <div class="d-flex flex-justify-between flex-items-center width-full width-lg-auto">
        <ul class="navbar-nav">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/home">
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>
            <button mat-menu-item routerLink="/project/new" *ngIf="isLogged()">
              <mat-icon>source</mat-icon>
              <span>Create Project</span>
            </button>
            <button mat-menu-item routerLink="/search">
              <mat-icon>search</mat-icon>
              <span>Search</span>
            </button>
            <button mat-menu-item *ngIf="isLogged()" (click)="this.logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
          <li class="nav-item" *ngIf="!isLogged()">
            <button [style.position]="position" type="button" routerLink="/login" class="btn btn-primary">Login</button>
          </li>
          <li class="nav-item" *ngIf="isLogged()">
            <a routerLink="/profile" class="nav-link">
              <i [style.position]="position" class="bi bi-person-circle"></i>
            </a>
        </ul>
      </div>
    </nav>
  </div>
</header>