

<app-header></app-header>

<div class="homebackground">
  <div class="container">
    <div class="text-container">
      <h1 class="text-black">SnowNote</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <a class="btn btn-primary btn-lg" routerLink="register"  role="button" *ngIf="!this.isLogged()" >Sign up</a>
    </div>
  </div>
</div>

<app-footer class="home-footer"></app-footer>

