/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.css";
@import "~primeicons/primeicons.css";

.btn-primary {
    background-color: aqua;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-panel .p-panel-header .p-panel-header-icon {
    display: none;
}
  
